<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serving Static Files</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="card">
      <h2>Welcome to demo API</h2>
      <p>
        This is a demo movies API built using Express JS and a JSON file as a
        data source.
      </p>
      <p>This is a simple demo HTML page to demo serving static files.</p>
    </div>
  </body>
</html>
